<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        } </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center"> <h2>게시글 상세</h2>
    </div>

    <h2 th:if="${param.addStatus}" th:text="'저장완료!'"></h2>
    <h2 th:if="${param.editStatus}" th:text="'수정완료!'"></h2>
    <div>
        <label for="boardId">게시글 ID</label>
        <input type="text" id="boardId" name="boardId" class="form-control"
               th:value="${board.id}"
               value="1" readonly>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control"
               th:value="${board.title}"
               value="제목" readonly> </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" class="form-control"
               th:value="${board.content}"
               value="내용 입력입니다." readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/basic/boards/{boardId}/edit(boardId=${board.id})}'|"
                    onclick="location.href='editForm.html'"
                    type="button">게시글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/basic/boards}'|"
                    onclick="location.href='boards.html'" type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>